<body>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="adminform.css">

    <div class="flex-column">
        <div class="header">
            <h1>Admin Page</h1>
        </div>
        <h2>Click on Respective Domain to see respective problems</h2>
        <div class="form-section">


            <a href="/electric"><button class="submit-btn" value="1" type="submit">Electrical
                    Problems</button></a>
            <a href="/wifi"><button class="submit-btn" value="2" type="submit">Wifi Problems</button></a>
            <a href="/plumber"><button class="submit-btn" value="3" type="submit">Plumber Problems</button></a>
            <a href="/cleanliness"><button class="submit-btn" value="4" type="submit">Cleanliness
                    Problems</button></a>





        </div>
    </div>
    <!-- THE FOLLOWING SCRIPT ADDS A NAME TO THE BUTTON CLICKED ALLOWING US TO ACCESS THE VALUE AND USING THAT SHORLISTING  -->



    <%- include("footer.ejs") %>