<%- include("header.ejs") %>
  <link rel="stylesheet" href="styles.css" />

  <div class="container-home">
    <!-- <h1>Clean-chan</h1> -->
    <div class="image img-1">
      <img src="Images/IMG_20221217_215243_0619.jpg" alt="" />
      <a href="/boyshostel&id=<%=id%>&buildingtype=BOY'S-HOSTEL">
        <p class="nav">Boy's Hostel</p>
      </a>
    </div>
    <div class="image img-2">
      <img src="Images/WhatsApp Image 2023-10-09 at 20.30.23_3f3d03ea.jpg" alt="" />
      <p class="nav">Academic Block</p>
    </div>
    <div class="image img-3">
      <img src="Images/WhatsApp Image 2023-10-09 at 20.24.27_9303baa9.jpg" alt="" />
      <p class="nav">Girl's Hostel</p>
    </div>

  </div>

  <%- include("footer.ejs") %>