<%- include("header.ejs") %>





    <link href="signin.css" rel="stylesheet">
    <div class="flex-column">
        <div class="signin-img">
            <img src=" /Images/vitlogo.png" alt="">
        </div>

        <!-- TURN OFF AUTOSUGGESTION AT END -->
        <form class="form-signin" method="post" action="/login">

            <button class="google-btn"> <a class="google-btn-text" href="/register">
                    <img src="https://img.icons8.com/color/35/google-logo.png">
                    &nbsp;&nbsp;
                    <span class="google-btn-text">Login With Google</span></a>
            </button>

            <!-- <p class="text-center">
                Don't have an account?Register Now with Google</a>
            </p> -->
        </form>
    </div>






    <%- include("footer.ejs") %>